@include extjs-button-small-ui(
    $ui:'gtbar',
    $color:$gt-color,
    $glyph-color:$gt-color,
    $background-color:$gt-btn-bg,
    $border-color:$gt-btn-bg,
    $background-color-over:$gt-btn-over-bg
);
